<div class="container">
    <input type="hidden" [(ngModel)]="livro.codigo" />

    <label class="form-label" for="livro-titulo">Titulo: </label>
    <input required class="form-control" [(ngModel)]="livro.titulo" placeholder="Titulo">

    <label class="form-label" for="livro-autor">Autor: </label>
    <input required class="form-control" [(ngModel)]="livro.autor" placeholder="Autor">

    <label class="form-label" for="livro-preco">Preço: </label>
    <input required class="form-control" [(ngModel)]="livro.preco" placeholder="Preço">

    <label class="form-label" for="livro-ano">Ano: </label>
    <input required class="form-control" [(ngModel)]="livro.ano" placeholder="Ano">

    <button>Salvar</button>
</div>
